* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map{
  width: 100vw;
  height: 100vh;
}

.marker {
  height: 10px;
  width: 10px;

}
